<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true" default-init-method="init"> 
      <context:component-scan base-package="com.arts.org" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:include-filter type="annotation" expression="javax.annotation.Resource" />
      </context:component-scan>      
    <mvc:view-controller path="/" view-name="forward:/index/welcome"/>
	<mvc:view-controller path="/index" view-name="forward:/index/welcome"/>
    <bean id="utf8NioCharset" class="java.nio.charset.Charset" factory-method="forName">
        <constructor-arg index="0" value="UTF-8"/>
    </bean>	
    <mvc:annotation-driven validator="validator" ignoreDefaultModelOnRedirect="true">    
      <mvc:message-converters register-defaults="false">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" >
                <constructor-arg index="0" ref="utf8NioCharset"/>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                    </list>
                </property>
                <property name="writeAcceptCharset" value="true"/>
            </bean>
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="objectMapper" ref="jackson2ObjectMapper"/>
            </bean>
            <!-- xml
            <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/xml;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            -->
      </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- mvc 拦截 -->
    <mvc:interceptors>
        <!-- <mvc:interceptor> <mvc:mapping path="/**" /> <bean id="executeTimeInterceptor" class="com.arts.org.webcomn.interceptor.ExecuteTimeInterceptor" /> </mvc:interceptor> -->
        <!-- page cache -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
                <property name="cacheSeconds" value="${web.pagecache.cache_seconds}"/>
            </bean>
        </mvc:interceptor>
        <!-- open session in view jpa transaction interceptor -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="openSessionInViewInterceptor" class="org.springframework.orm.jpa.support.OpenEntityManagerInViewInterceptor">
                <property name="entityManagerFactory" ref="entityManagerFactory"/>
            </bean>
        </mvc:interceptor>
        <bean class="com.arts.org.web.interceptor.MenuInterceptor"></bean>        
        <bean class="com.arts.org.webcomn.interceptor.AdminLogInterceptor"></bean>        
    </mvc:interceptors>

    <!-- user mvc or default-servlet to handle static resources />
    <mvc:resources location="/" mapping="/**"/> -->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/ueditor/**" location="/ueditor/" />
    <!-- bean name view resolver -->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"/>
    </bean>

    <!-- jsp view resolver -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
        <property name="contentType">
            <value>text/html;charset=UTF-8</value>
        </property>
        <property name="order" value="999"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- default error page <property name="defaultErrorView" value="exception" /> -->
        <!-- output exception as json -->
        <property name="defaultErrorView" value="exception2json"/>
        <!-- custom exception error page
        <property name="exceptionMappings"> <props>
            <prop key="java.lang.Exception">exception</prop> <prop key="java.lang.Throwable">throwable</prop>
            </props></property> 
            <property name="statusCodes"> 
            <props><prop key="exception">500</prop>
            <prop key="throwable">404</prop></props>
        </property>
        -->
        <!-- print exception stack in console -->
        <property name="warnLogCategory" value="ERROR"></property>
        <!-- http status -->
        <property name="defaultStatusCode" value="500"></property>
    </bean>

    <bean id="jackson2ObjectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
        <property name="failOnEmptyBeans" value="false"/>
        <property name="indentOutput" value="true"/>
        <property name="dateFormat">
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg value="yyyy-MM-dd HH:mm:ss"/>
            </bean>
        </property>
    </bean>

    <bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller" />
    <!-- 封装spring 的 xstreamMarshaller -->
    <bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <!-- TODO 导致性能隐患 -->
        <property name="autodetectAnnotations" value="true"/>
    </bean>

</beans>