<?xml version="1.0" encoding="UTF-8"?>
<!-- Example LOGBACK Configuration File http://logback.qos.ch/manual/configuration.html -->
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} %caller{2} - %msg%n</pattern>
        </encoder>
    </appender>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/webadmin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/webadmin%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 15MB -->
                <maxFileSize>15MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <!--
	<logger name="org.springframework" additivity="true" level="DEBUG" />
	<logger name="org.springframework.http" additivity="true" level="DEBUG" />
    <logger name="org.springframework.web" additivity="true" level="DEBUG" />
    <logger name="org.springframework.orm" additivity="true" level="DEBUG" />
	-->
    <logger name="com.arts.org" additivity="true" level="INFO"/>
    <logger name="org.hibernate.SQL" additivity="true" level="INFO"/>
    <logger name="com.mchange.v2.c3p0" additivity="true" level="INFO"/>

</configuration>